<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.sports.mapper.SportsSafetyPlanningMapper">
    
    <resultMap type="SportsSafetyPlanning" id="SportsSafetyPlanningResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="emergencyPlan"    column="emergency_plan"    />
        <result property="evacuationPlan"    column="evacuation_plan"    />
    </resultMap>

    <sql id="selectSportsSafetyPlanningVo">
        select id, create_by, create_time, update_by, update_time, remark, emergency_plan, evacuation_plan from sports_safety_planning
    </sql>

    <select id="selectSportsSafetyPlanningList" parameterType="SportsSafetyPlanning" resultMap="SportsSafetyPlanningResult">
        <include refid="selectSportsSafetyPlanningVo"/>
        <where>  
            <if test="emergencyPlan != null  and emergencyPlan != ''"> and emergency_plan = #{emergencyPlan}</if>
            <if test="evacuationPlan != null  and evacuationPlan != ''"> and evacuation_plan = #{evacuationPlan}</if>
        </where>
    </select>
    
    <select id="selectSportsSafetyPlanningById" parameterType="Long" resultMap="SportsSafetyPlanningResult">
        <include refid="selectSportsSafetyPlanningVo"/>
        where sports_safety_planning.id = #{id}
    </select>
        
    <insert id="insertSportsSafetyPlanning" parameterType="SportsSafetyPlanning" useGeneratedKeys="true" keyProperty="id">
        insert into sports_safety_planning
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="emergencyPlan != null">emergency_plan,</if>
            <if test="evacuationPlan != null">evacuation_plan,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="emergencyPlan != null">#{emergencyPlan},</if>
            <if test="evacuationPlan != null">#{evacuationPlan},</if>
         </trim>
    </insert>

    <update id="updateSportsSafetyPlanning" parameterType="SportsSafetyPlanning">
        update sports_safety_planning
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="emergencyPlan != null">emergency_plan = #{emergencyPlan},</if>
            <if test="evacuationPlan != null">evacuation_plan = #{evacuationPlan},</if>
        </trim>
        where sports_safety_planning.id = #{id}
    </update>

    <delete id="deleteSportsSafetyPlanningById" parameterType="Long">
        delete from sports_safety_planning where id = #{id}
    </delete>

    <delete id="deleteSportsSafetyPlanningByIds" parameterType="String">
        delete from sports_safety_planning where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>