<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.sports.mapper.SportsPressReleaseMapper">
    
    <resultMap type="SportsPressRelease" id="SportsPressReleaseResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="newsTitle"    column="news_title"    />
        <result property="newsContent"    column="news_content"    />
        <result property="publishDate"    column="publish_date"    />
    </resultMap>

    <sql id="selectSportsPressReleaseVo">
        select id, create_by, create_time, update_by, update_time, remark, news_title, news_content, publish_date from sports_press_release
    </sql>

    <select id="selectSportsPressReleaseList" parameterType="SportsPressRelease" resultMap="SportsPressReleaseResult">
        <include refid="selectSportsPressReleaseVo"/>
        <where>  
            <if test="newsTitle != null  and newsTitle != ''"> and news_title = #{newsTitle}</if>
            <if test="newsContent != null  and newsContent != ''"> and news_content = #{newsContent}</if>
            <if test="publishDate != null "> and publish_date = #{publishDate}</if>
        </where>
    </select>
    
    <select id="selectSportsPressReleaseById" parameterType="Long" resultMap="SportsPressReleaseResult">
        <include refid="selectSportsPressReleaseVo"/>
        where sports_press_release.id = #{id}
    </select>
        
    <insert id="insertSportsPressRelease" parameterType="SportsPressRelease" useGeneratedKeys="true" keyProperty="id">
        insert into sports_press_release
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="newsTitle != null">news_title,</if>
            <if test="newsContent != null">news_content,</if>
            <if test="publishDate != null">publish_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="newsTitle != null">#{newsTitle},</if>
            <if test="newsContent != null">#{newsContent},</if>
            <if test="publishDate != null">#{publishDate},</if>
         </trim>
    </insert>

    <update id="updateSportsPressRelease" parameterType="SportsPressRelease">
        update sports_press_release
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="newsTitle != null">news_title = #{newsTitle},</if>
            <if test="newsContent != null">news_content = #{newsContent},</if>
            <if test="publishDate != null">publish_date = #{publishDate},</if>
        </trim>
        where sports_press_release.id = #{id}
    </update>

    <delete id="deleteSportsPressReleaseById" parameterType="Long">
        delete from sports_press_release where id = #{id}
    </delete>

    <delete id="deleteSportsPressReleaseByIds" parameterType="String">
        delete from sports_press_release where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>