<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.accommodation.mapper.SportsAccommodationArrangementMapper">
    
    <resultMap type="SportsAccommodationArrangement" id="SportsAccommodationArrangementResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="personType"    column="person_type"    />
        <result property="accommodationName"    column="accommodation_name"    />
        <result property="address"    column="address"    />
        <result property="checkInDate"    column="check_in_date"    />
        <result property="checkOutDate"    column="check_out_date"    />
        <result property="numberOfRooms"    column="number_of_rooms"    />
    </resultMap>

    <sql id="selectSportsAccommodationArrangementVo">
        select id, create_by, create_time, update_by, update_time, remark, person_type, accommodation_name, address, check_in_date, check_out_date, number_of_rooms from sports_accommodation_arrangement
    </sql>

    <select id="selectSportsAccommodationArrangementList" parameterType="SportsAccommodationArrangement" resultMap="SportsAccommodationArrangementResult">
        <include refid="selectSportsAccommodationArrangementVo"/>
        <where>  
            <if test="personType != null  and personType != ''"> and person_type = #{personType}</if>
            <if test="accommodationName != null  and accommodationName != ''"> and accommodation_name like concat('%', #{accommodationName}, '%')</if>
            <if test="address != null  and address != ''"> and address like concat('%', #{address}, '%')</if>
            <if test="numberOfRooms != null "> and number_of_rooms = #{numberOfRooms}</if>
        </where>
    </select>
    
    <select id="selectSportsAccommodationArrangementById" parameterType="Long" resultMap="SportsAccommodationArrangementResult">
        <include refid="selectSportsAccommodationArrangementVo"/>
        where sports_accommodation_arrangement.id = #{id}
    </select>
        
    <insert id="insertSportsAccommodationArrangement" parameterType="SportsAccommodationArrangement" useGeneratedKeys="true" keyProperty="id">
        insert into sports_accommodation_arrangement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="personType != null">person_type,</if>
            <if test="accommodationName != null">accommodation_name,</if>
            <if test="address != null">address,</if>
            <if test="checkInDate != null">check_in_date,</if>
            <if test="checkOutDate != null">check_out_date,</if>
            <if test="numberOfRooms != null">number_of_rooms,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="personType != null">#{personType},</if>
            <if test="accommodationName != null">#{accommodationName},</if>
            <if test="address != null">#{address},</if>
            <if test="checkInDate != null">#{checkInDate},</if>
            <if test="checkOutDate != null">#{checkOutDate},</if>
            <if test="numberOfRooms != null">#{numberOfRooms},</if>
         </trim>
    </insert>

    <update id="updateSportsAccommodationArrangement" parameterType="SportsAccommodationArrangement">
        update sports_accommodation_arrangement
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="personType != null">person_type = #{personType},</if>
            <if test="accommodationName != null">accommodation_name = #{accommodationName},</if>
            <if test="address != null">address = #{address},</if>
            <if test="checkInDate != null">check_in_date = #{checkInDate},</if>
            <if test="checkOutDate != null">check_out_date = #{checkOutDate},</if>
            <if test="numberOfRooms != null">number_of_rooms = #{numberOfRooms},</if>
        </trim>
        where sports_accommodation_arrangement.id = #{id}
    </update>

    <delete id="deleteSportsAccommodationArrangementById" parameterType="Long">
        delete from sports_accommodation_arrangement where id = #{id}
    </delete>

    <delete id="deleteSportsAccommodationArrangementByIds" parameterType="String">
        delete from sports_accommodation_arrangement where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>